.productContainer {
    width: 100%;
    padding: 5rem 3rem 3rem 3rem;
    display: flex;
    gap: 2rem;
  }

  .productImageWrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
  }
  
  .productImage {
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }

  .productDetails {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .titleAndPrice {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }

  .productTitle {
    font-family: 'Quicksand';
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .productPrice {
    font-family: 'Quicksand';
    font-size: 1rem;
    font-weight: 500;
  }

  .ingredientsAndAllergens {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }

  .productingredients span {
    font-family: 'Quicksand';
    font-size: 1rem;
    font-weight: 700;
  }

  .productingredients {
    font-family: 'Quicksand';
    font-size: 1rem;
    font-weight: 500;
  }

  .productAllergens span {
    font-family: 'Quicksand';
    font-size: 1rem;
    font-weight: 700;
  }

  .productAllergens {
    font-family: 'Quicksand';
    font-size: 1rem;
    font-weight: 500;
  }

  .quantityDateAndOrder {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }

  .containerDescription {
    width: 100%;
    padding: 0 7rem 3rem 7rem;
  }

  .productDescription {
    font-size: 1.5rem;
    font-weight: 400;
  }