.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #f3bc9f;
  }
  
  .nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .link {
    font-family: "Quicksand";
    font-size: 16px; 
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.48px;
    line-height: 24px;
    text-decoration: none;
    color: #000;
    position: relative;
    padding: 1rem 1rem;
    transition: color 0.3s;
  }
  
  .link::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #000;
    transition: all 0.3s ease;
    opacity: 0;
  }
  
  .link:hover::after,
  .link.active::after {
    opacity: 1;
  }
  
  .link.active {
    color: #000;
  }
  
  .authButtons {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .authButtons button {
    background-color: unset;
    border: none;
  }
  