.userExperienceContainer {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.step {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.icon {
  font-size: 3rem;
  color: #f3bc9f;
}

.stepText {
  margin: 2rem 0;
  font-weight: bold;
  color: #333;
}

.arrowButtonLeft,
.arrowButtonRight {
  display: none;
}

.arrowButtonLeft,
.arrowButtonRight {
  position: absolute;
  transform: translateY(50%);
  background-color: #f3bc9f;
  border: none;
  color: #fff;
  font-size: 2rem;
  padding: 0.6rem 0.6rem 0.3rem 0.6rem;
  cursor: pointer;
  z-index: 1;
}

.arrowButtonLeft {
  left: 10px;
}

.arrowButtonRight {
  right: 10px;
}

.arrowButtonLeft:disabled,
.arrowButtonRight:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (max-width: 768px) {

  .arrowButtonLeft,
  .arrowButtonRight {
    display: block;
  }

  .userExperienceContainer {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }

  .step {
    min-width: 100%;
    scroll-snap-align: center;
    padding: 2rem;
  }
}