.heroContainer {
    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.1));
}

.heroBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(10px);
    z-index: -1;
    background-image: url('/images/hero.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 2px 0 12px rgba(0, 0, 0, 0.15);
    padding: 40px;
    max-width: 400px;
    margin: 50px auto;
}

.title {
    font-family: 'Raleway';
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.label {
    font-size: 16px;
    color: #888;
    margin-bottom: 5px;
}

.inputForm {
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
}

.input {
    margin-right: 10px;
    border-radius: 10px;
    border: none;
    width: 85%;
    height: 100%;
    background-color: unset;
}

.input:focus {
    outline: none;
}

.inputForm:focus-within {
    border: 1.5px solid #c7c1dc;
}

.inputForm:hover {
    border-color: #d4d4d4;
}

.showPasswordButton {
    border: none;
    background-color: unset;
    color: #f3bc9f;
    font-size: 1.5rem;
}

.button {
    font-family: 'Quicksand';
    margin: 20px 0 10px 0;
    background-color: #d5abc2;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 100;
    border-radius: 2rem;
    height: 50px;
    width: 100%;
    cursor: pointer;
}

.button:hover {
    font-weight: bold;
    background-color: #c7c1dc;
}