.productContainer {
    width: 100%;
    padding: 5rem 3rem 3rem 3rem;
    display: flex;
    gap: 2rem;
}

.productImageWrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
}

.productImage {
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.productDetails {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 5rem 2rem;
    gap: 2rem;
}

.titleAndPrice {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.productTitle {
    font-family: 'Quicksand';
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}

.productPrice {
    font-family: 'Quicksand';
    font-size: 2rem;
    font-weight: 600;
    color: #f3bc9f;
}

.descriptionAndingredients {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.productDescription span {
    font-family: 'Quicksand';
    font-size: 1.7rem;
    font-weight: 700;
}

.productDescription {
    font-family: 'Quicksand';
    font-size: 1.2rem;
    font-weight: 500;
}

.productIngredients span {
    font-family: 'Quicksand';
    font-size: 1.7rem;
    font-weight: 700;
}

.productIngredients {
    font-family: 'Quicksand';
    font-size: 1.2rem;
    font-weight: 500;
}

.quantityInputContainer {
    display: flex;
    flex-direction: column;
}

.quantityLabel {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.quantityButton {
    color: white;
    border: none;
    padding: 8px 10px 5px 10px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .quantityButton:hover {
    background-color: #afafaf;
  }

  .quantityControls {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

.quantityInput {
    width: 50px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.availableQuantity {
    color: #555;
    font-size: 0.9rem;
}

.quantityInput[type="number"]::-webkit-outer-spin-button,
.quantityInput[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.productButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 10px 0;
    background-color: #d5abc2;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 100;
    border-radius: 2rem;
    height: 50px;
    width: 100%;
    cursor: pointer;
}

.productButton:hover {
    font-weight: bold;
    background-color: #c7c1dc;
}

.productButton svg {
    margin-left: 0.5rem;
}

.cartButtonsContainer {
    display: flex;
    width: 100%;
    gap: 10px;
}

.continueShoppingButton {
    margin: 20px 0 10px 0;
    background-color: #938cac;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 100;
    border-radius: 2rem;
    height: 50px;
    width: 50%;
    cursor: pointer;
}

.continueShoppingButton:hover {
    font-weight: bold;
    background-color: #76708a;
}

.viewCartButton {
    margin: 20px 0 10px 0;
    background-color: #98b68f;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 100;
    border-radius: 2rem;
    height: 50px;
    width: 50%;
    cursor: pointer;
}

.viewCartButton:hover {
    font-weight: bold;
    background-color: #7a9272
}

.centerdText {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    padding: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

@media (max-width: 1024px) {
    .productContainer {
        flex-direction: column;
    }

    .productImageWrapper {
        width: 100%;
    }

    .productDetails {
        width: 100%;
        padding: 2rem;
    }
}

@media (max-width: 500px) {
    .productImage {
        width: 300px;
        height: 500px;
    }
}