.productContainer {
    width: 100%;
    padding: 5rem 3rem 3rem 3rem;
    display: flex;
    gap: 2rem;
  }

  .productImageWrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
  }
  
  .productImage {
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }

  .productDetails {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
  }

  .titleAndPrice {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }

  .productTitle {
    font-family: 'Quicksand';
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .productPrice {
    font-family: 'Quicksand';
    font-size: 2rem;
    font-weight: 600;
  }

  .descriptionAndingredients {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }

  .productDescription span {
    font-family: 'Quicksand';
    font-size: 1.7rem;
    font-weight: 700;
  }

  .productDescription {
    font-family: 'Quicksand';
    font-size: 1.2rem;
    font-weight: 500;
  }

  .productIngredients span {
    font-family: 'Quicksand';
    font-size: 1.7rem;
    font-weight: 700;
  }

  .productIngredients {
    font-family: 'Quicksand';
    font-size: 1.2rem;
    font-weight: 500;
  }

  .quantityDateAndOrder {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    background-color: #F3BC9F;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .ritiroSection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .ritiroLabel {
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
  }
  
  .ritiroDate,
  .ritiroTime {
    padding: 0.5rem;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #fff;
    color: #4E342E;
    font-size: 1rem;
  }
  
  .ritiroDate:hover,
  .ritiroTime:hover {
    border-color:#F3BC9F;;
    outline: none;
  }
  
  .ritiroDate:focus,
  .ritiroTime:focus {
    border-color: #F3BC9F;
    outline: none;
    box-shadow: 0 0 5px #F3BC9F;
  }
  
  .negocioClosedMessage {
    color: #D9534F;
    font-weight: bold;
    margin-top: 0.5rem;
  }
  
  .addButton {
    background-color:#F3BC9F;;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .addButton:hover {
    background-color: #F7AD85;
  }
  
  .submitButton {
    background-color: #8C564B;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submitButton:hover {
    background-color: #F7AD85;
  }
  
  .modalContent {
    background-color: #FFF4E6;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .input {
    padding: 0.5rem;
    border: 1px solid #8C564B;
    border-radius: 5px;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1rem;
    color: #4E342E;
  }
  
  .input:focus {
    border-color: #F7AD85;
    outline: none;
    box-shadow: 0 0 5px #F7AD85;
  }
  
  .close {
    color: #8C564B;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .close:hover {
    color: #D9534F;
  }

  .productButton {
    margin: 20px 0 10px 0;
    background-color: #d5abc2;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 100;
    border-radius: 2rem;
    height: 50px;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.productButton:hover {
    font-weight: bold;
    background-color: #c7c1dc;
}


  .centerdText {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    padding: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
  }