.contactsPage {
    padding: 3rem 10rem;
    font-family: 'Quicksand', sans-serif;


}

.contactFormSection,
.containerMap {
    width: 100vw !important;
    margin-left: calc(50% - 50vw);
}

.hero {
    text-align: center;
    margin-bottom: 2rem;
}

.hero h1 {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 2.5rem;
}

.hero p {
    font-family: 'Quicksand';
    font-weight: 400;
    color: #888;
    font-size: 1.5rem;
}

.tabs {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1rem;
    padding: 2rem;
    border-top: solid 1px;
    border-bottom: solid 1px;
}

.tabs button {
    font-family: 'Raleway';
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
    color: #333;
}

.tabButton {
    padding: 0.75rem 1.5rem;
    border: none;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.activeTab {
    border: none;
    background-color: unset;
    text-decoration: underline;
    font-weight: 800;
}

.tabContent {
    margin-top: 2rem;
}

.description {
    width: 70%;
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.infoContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 6rem;
    margin: 3rem 0;
}

.containerImage {
    width: 50%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.image {
    width: 400px;
    height: 500px;
    object-fit: cover;
}

.details {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    font-size: 1.3rem;
    color: #444;
}

.mapDetails h3 {
    font-family: 'Raleway';
    margin-bottom: 0.5rem;
}

.timeDetails h3 {
    font-family: 'Raleway';
    margin-bottom: 0.5rem;
}

.contactDetails h3 {
    font-family: 'Raleway';
    margin-bottom: 0.5rem;
}

.mapDetails a {
    color: #d5abc2;
    text-decoration: underline;
    display: inline-block;
    margin-top: 0.5rem;
}

.mapDetails a:hover {
    color: #c7c1dc;
}

.containerMap {
    width: 100%;
    height: 500px;
    padding: 3rem 0;
}

.map {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.contactFormSection {
    width: 100%;
    display: flex;
    gap: 5rem;
    padding: 3rem 0;
}

.formContainer {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 0 3rem;
}

.formContainer h2 {
    font-family: 'Raleway';
    font-weight: 400;
}

.imageSection {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.imageSection img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #ffffff;
    padding: 1rem 0;
    width: 450px;
    border-radius: 20px;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.flexColumn>label {
    color: #151717;
    font-weight: 600;
}

.label {
    font-size: 20px !important;
    color: #151717 !important;
    font-weight: 600 !important;
}

.inputForm {
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
}

.input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 85%;
    height: 100%;
}

.input:focus {
    outline: none;
}

.inputForm:focus-within {
    border: 1.5px solid #c7c1dc;
}

.inputForm:hover {
    border-color: #d4d4d4;
}

.input::placeholder {
    font-family: 'Quicksand';
}

.inputFormMessage {
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
}

.textArea {
    align-content: center;
    resize: none;
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 85%;
    height: 100%;
}

.textArea:focus {
    outline: none;
}

.inputFormMessage:focus-within {
    border: 1.5px solid #c7c1dc;
}

.inputForm:hover {
    border-color: #d4d4d4;
}

.textArea::placeholder {
    font-family: 'Quicksand';
}

.formGroup {
    display: flex;
    gap: 0.5rem;
}

.buttonSubmit {
    margin: 20px 0 10px 0;
    background-color: #d5abc2;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 100;
    border-radius: 2rem;
    height: 50px;
    width: 100%;
    cursor: pointer;
}

.buttonSubmit:hover {
    font-weight: bold;
    background-color: #c7c1dc;
}

.formContainer h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #333;
}

.socialFollowSection {
    text-align: center;
    margin: 3rem 0;
    padding: 2rem;
}

.socialFollowSection h2 {
    font-family: 'Raleway';
    margin-bottom: 2rem;
    font-size: 1.8rem;
    font-weight: 400;
    color: #333;
}

.socialBoxes {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.socialBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    height: 300px;
    width: 500px;
    justify-content: center;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.socialBox:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

.socialBox img {
    margin-bottom: 1rem;
}

.socialBox p {
    font-family: 'Quicksand';
    font-size: 1rem;
    color: #555;
    margin: 1rem 0;
}

.socialBox a {
    display: inline-block;
    margin-top: 1rem;
    text-decoration: none;
    color: #c8684d;
    font-weight: bold;
    transition: color 0.3s ease;
}

.facebookA {
    border-bottom: 1px solid #4663e8;
}

.instagramA {
    border-bottom: 1px solid #db2b92;
}

.faqContainer {
    max-width: 800px;
    margin: 2rem auto;
    text-align: start;
}

.faqContainer h2 {
    font-family: 'Raleway';
    font-weight: 400;
}

.accordion {
    margin-top: 1rem;
    border: 1px solid #e7c3b8;
    border-radius: 8px;
}

.accordionItem {
    border-bottom: 1px solid #e7c3b8;
    margin: 1rem;
}

.accordionItem:last-child {
    border-bottom: none;
}

.accordionButton {
    background-color: #ffffff;
    color: #333;
    padding: 1rem;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

.accordionButton:hover {
    background-color: #f8f4ed;
}

.accordionButton .icon {
    transition: transform 1s;
}

.accordionButton.active .icon {
    transform: rotate(360deg);
}

.accordionButton span {
    font-family: 'Quicksand';
    color: #000000;
    font-weight: 400;
    font-size: 1.1rem;
}

.accordionContent p {
    font-family: 'Quicksand';
}

.icon {
    font-size: 1.5rem;
    color: #a699d6;
}

.accordionContent {
    padding: 1rem;
    background-color: #f9f9f9;
    color: #666;
    transition: max-height 0.3s ease;
}