.main {
    padding: 0 10rem 2rem 10rem;
}

.textContainer {
    text-align: center;
    width: 100vw;
    margin: 0;
    padding: 4rem 1rem;
    background-color: #f3f3f3;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.textContainer h1 {
    color: #4C3A33;
    font-family: 'Raleway';
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.textContainer h2{
    color: #9B7A4F;
    font-family: 'Raleway';
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.textContainer p {
    font-family: 'Quicksand';
    font-size: 1rem;
}

.textContainer span {
    color: #C29F82;
}

.featureSection {
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding: 2rem 10rem;
}

@media (max-width: 1200px) {
    .featureSection {
        padding: 2rem 5rem;
    }
}

.featuresContainer {
    display: flex;
    gap: 3rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }

.feature {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.featureIcon {
    color: #f3bc9f;
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    object-position: center;
}

@media (max-width: 1024px) {
    .featureIcon {
        width: 50px;
        height: 50px;
    }
}


.feature h3 {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 8px;
}

.feature p {
    font-family: 'Quicksand';
    color: #888;
    font-size: 1rem;
    line-height: 1.4;
    margin: 0;
}

.arrowButtonLeft,
.arrowButtonRight {
    display: none;
}

.arrowButtonLeft,
.arrowButtonRight {
    position: absolute;
    transform: translateY(200%);
    background-color: #f3bc9f;
    border: none;
    color: #fff;
    font-size: 2rem;
    padding: 0.6rem 0.6rem 0.3rem 0.6rem;
    cursor: pointer;
    z-index: 1;
}

.arrowButtonLeft {
    left: 20px;
}

.arrowButtonRight {
    right: 20px;
}

.arrowButtonLeft:disabled,
.arrowButtonRight:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

@media (max-width: 768px) {

    .arrowButtonLeft,
    .arrowButtonRight {
        display: block;
    }

    .featureSection {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
    }

    .feature {
        min-width: 100%;
        scroll-snap-align: center;
        padding: 2rem;
    }
}

.bestItemsSection {
    margin-top: 80px;
    text-align: center;
    animation: fadeIn 1.5s ease-out;
}

.bestItemsSection h2 {
    font-family: 'Raleway';
    font-weight: 400;
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: #333;
}

.items {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .items {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
}

@media (max-width: 500px) {
    .bestItemsSection h2 {
        width: 100vw;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .items {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 30px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.item:hover {
    transform: scale(1.03);
}

.item img {
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    object-fit: cover;
    margin-bottom: 1rem;
}

.itemDetails {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.textDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.textDetails p {
    font-family: 'Raleway';
    color: black;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.textDetails span {
    color: #f3bc9f;
    font-size: 1.1rem;
    font-weight: bold;
    display: block;
}

.loaderContainer {
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}